{% extends 'base.html' %}
{% block body%}
<a class="btn btn-success" href="{% url 'movieapp:add' %}">Add</a>
<div class="container">
    <div class="row" style="margin-right:-46px;" >
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="250" height="350">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.description}}</p>
                    <a href="{% url 'movieapp:detail' i.id %}">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}